@import "tailwindcss";
#root {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Navbar  */
.nav-link{
    @apply text-gray-500;
    text-decoration: none;
    font-weight: 500;
    @apply px-3 py-3;;
    transition: all 0.2s ease;
    @apply shadow-xl bg-white;
    font-size: 1rem;;
}
.nav-link:hover {
    @apply text-gray-100 bg-gray-500;
}

.nav-link:active {
    @apply text-gray-100;
    @apply shadow ;
}

/* main   */

/* Anqor tag  */

.social-items{
    @apply bg-gray-500 text-white p-3 rounded shadow-2xl transition-all duration-300 ease-in-out border border-gray-500 hover:bg-white hover:text-gray-500 hover:scale-x-120 inline-block;
}
.fade-in {
  animation: fadeIn 1.5s ease-out forwards;
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

.popup {
  animation: popup 0.2s ease-out forwards;
}

@keyframes popup {
  from { width: 0;
          height: 0; }
  to { width: 80vh;
          height: 80vh; }
}

